body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-main {
    border: 10px solid black;
    width: 500px;
    height: 500px;
}

.div-container {
    display: flex;
    height: 6.25%;
}

.div-pixel {
    width: 6.25%;
    /* border: 1px solid black; */
}

/* .div-pixel:hover {
    background-color: rgba(0, 0, 0, 0.3);
} */

.active {
    background-color: black;
}

.inactive {
    background-color: transparent;
}