body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.div-main {
    border: 10px solid black;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.div-container {
    display: flex;
    height: 6.25%;
}

.div-pixel {
    width: 6.25%;
    /* border: 1px solid black; */
}

.active {
    background-color: black;
}

.inactive {
    background-color: transparent;
}

button {
    font-family: "Roboto", sans-serif;
    color: rgba(16, 16, 88, 0.9);
    font-size: medium;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
}